html {
  background-color: black;
}

body {
  max-width: 1920px;
  margin: auto;
}

footer {
  background-color: #25343e;
  height: 200px;
}

#hero {
  background-image: url("./images/hero2.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 850px;
  background-position: top center;
}

#story {
  background-image: url("./images/story.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 980px;
  background-position: relative;
}
#portfolio {
  background-image: url("./images/portfolio.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 900px;
  background-position: relative;
}
#contact {
  background-image: url("./images/contact.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 1029px;
  background-position: relative;
}

/*  */
/* cover */
/* background size- x = 100percent y=auto */
